body {
  background-image: url("./images/green.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: auto; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav, .nav-wrapper, .brand-logo-center {
  background-color: rgb(146, 235, 104);
  display: flex;
 
}

.page-footer {
  background-image: none;
  background-color: rgb(146, 235, 104);
  display: flex
  
}
.app {
  text-align: center;
}

main {
  flex: 1 0 auto;
}

h1, h2, h3 {
  text-align: center;
  color: black;

}

.card {
  background-color: rgb(123, 208, 247);
  text-align: left;
  background-image: url("./images/icon.png");
  background-position: right;
  background-size: 100px;
  height: 100px;
  width: 300px;
  background-repeat: no-repeat;
 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  column-count: 2;
  column-fill: balance;
}

.card-title {
  color: black
}

.comment {
  height: 50;
  width: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.formstyle {
  color: black;
  
}

.float-container {
  
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;

}  

.Veg {
  height: 500px;
  width: 900px;
  padding-left: 100px;
  
}